<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibnkhaldoun.studentside">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name=".Activities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".Activities.SignUpActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibnkhaldoun.studentside.Activities.SignUpActivity" />
        </activity>
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:parentActivityName=".Activities.LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibnkhaldoun.studentside.Activities.LoginActivity" />
        </activity>
        <activity android:name=".Activities.WelcomeActivity" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>